<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ECiga</a>
		</div>
	</div>
</nav>


HOMEPAGE
<div class="container">
	<p class="container"> HELLO</p>
</div>






































































<div id = "jumbotron">
	<div class = "container">
		<!-- this is the product list -->
		<div class = "col-md-4 " >
			<p class = "border">HELLO WORLD!</p>
		</div>

		<!-- this is the product -->
		<div class = "col-md-8 border" >
			<p>HELLO WORLD!</p>
		</div>
	</div>
</div>